@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
  max-width: 1280px;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

.novigation-link {
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;

}

.heart {
  color: #ffffff;
  background-color: #7DB54F;
}

.hero {
  background-image: url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.visually-hidden {
  display: none;
}

.hero-img {
 display: block;
 margin: 0 auto;
 padding-top: 51px;
 padding-bottom: 82px;
}

.title-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.text {
  text-align: center;
}

.advantages-item-describe {
  line-height: 22px;
}

.item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.white-text {
  color:#ffffff;
}

.advantages-item-describe {
  line-height: 22px;
}

.subscribe-description {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  text-align: center;
}

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #FFFFFF;
}

.search {
  text-align: center;
}


.subscribe-button {
  color: white;
  padding: 8px 50px;
  background-color: #756157;
  text-decoration: none;
  font-size: 20px;
  text-align: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
}
.subscribe-title {
  color:#ffffff;
}
