@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
  max-width: 1280px;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #333333;
  }

       /*Header*/
  .page-hader {
    background-color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

.novigation-link {
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.heart {
  color: #ffffff;
  background-color: #7DB54F;
}

.novigation-button {
  color:#FFFFFF;
  background-color: #756157;
  padding: 8px 34px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
  /*Section hero*/

.hero {
  background-image: url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.visually-hidden {
  display: none;
}

.hero-img {
 display: block;
 margin: 0 auto;
 padding-top: 51px;
 padding-bottom: 82px;
}

/*Advantages*/

.advantages {
  text-align: center;
  font-weight: 400;
  line-height: 21px;
}

.title-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
/*
.white-text {
  color:#ffffff;
}
*/

/*Invitation*/

.invitation {
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

/*Search*/

.search {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  color: white;
  padding: 8px 50px;
  background-color: #756157;
  text-decoration: none;
  font-size: 20px;
  text-align: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Subscribe*/

.subscribe {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}


.subscribe-button {
  color:#FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.index-subscribe-title {
  color:#ffffff;
}

/*Footer*/

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  display: block;
  text-align: center;
}


/*Catalog-page*/
/*Filter*/

.filter {
  background-image: url(../images/catalog-filter.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/*Hotels-catalog*/
.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}

.hotel-link {
text-decoration: none;
color: #000000;
}

.hotel-item .button {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.pogination-link {
  text-decoration: none;
  color: #FFFFFF;
  background-color:#82B3D3;
}

/*Catalog-subscribe*/

.catalog-subscribe {
  background-color: #FFFFFF;
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}
